<div id="profile-main">
	<div id="wrapper-chunk">
		<div id="current-user-profile">
			<div id="current-user" class="clearfix">
				<div class="user-pic-sm">
					<%= image_tag current_user.avatar.url %>
				</div>
				<div class="user-name"> 
					<%= link_to "#{current_user.full_name}", current_user %>
				</div>
			</div>
			<div id="links" class="clearfix">
				<div class="link">
					<%= link_to "home", root_path %>
				</div>
				<div class="link">
					<%= link_to "timeline", timeline_path(current_user.id) %>
				</div>
				<div class="link">
					<%= link_to "people", people_path %>
				</div>
				<div class="link">
					<%= link_to "friends", friends_path(current_user.id)%>
				</div>
				<div class="link">
					<%= link_to "profile", user_profile_path(user_id: current_user.id) %>
				</div>
				<div class="link">
					<%= link_to "edit profile", edit_profile_path %>
				</div>
			</div>
		</div>
	</div>
</div>