<div id="main-user-profile">
	<div class="user-pic-vl">
			<%= image_tag @user.avatar.url %>
	</div>
	<div class="user-name"> 
		<%= link_to "#{@user.full_name}", @user %>
	</div>
</div>
<div id="profile-links">
	<div class="link">
		<%= link_to "Timeline", timeline_path(@user.id) %>
	</div>
	<div class="link">
		<%= link_to "Friends", friends_path(@user.id) %>
	</div>
	<div class="link">
		<%= link_to "About", user_profile_path(user_id: @user.id) %>
	</div>
</div>