- if user_signed_in? 
	#main-profile-wrapper.clearfix
		#main-wrapper
			#dashboard-posts
				.new-post
					= render partial: "posts/form" 
				.posts
					= render @posts 
					= will_paginate @posts 
		= render partial: "static_pages/you_may_know", locals: { users: @users } 


- else 

	= render "static_pages/welcome" 