<div id="main-wrapper">
	<div id="show-profile">
		<div id="profile-head">
			<p><b>Update your profile!</b></p>
		</div>

			<div id="details">

			<%= form_for @profile, url: update_profile_path do |p| %>
				<p><%= p.label :about, "About:" %>
				<%= p.text_field :about, size: 60 %></p>

				<p><%= p.label :birthday, "Birthday:"%>
				<%= p.date_select :birthday, order: [:day, :month, :year], start_year: 1900, end_year: 2015, include_blank: true %></p>

				<p><%= p.label :country, "Country:" %>
				<%= p.country_select :country, include_blank: true %></p>

				<p><%= p.label :gender, "Gender:" %>
				<%= p.select :gender, ["Male", "Female", "Different"], include_blank: true %></p>

				<p><%= p.label :profession, "Profession:"%>
				<%= p.text_field :profession %></p>

				<p><%= p.label :education, "Education:" %>
				<%= p.text_field :education %></p>

				<p><%= p.label :private, "Profile visibility:" %>
				<%= p.select :private, {Private: true, Public: false} %></p>
				
				<p><%= p.submit "commit changes!", class: "btn" %></p>
			<% end %>
			</div>
	</div>
</div>