<div id="main-wrapper">
	<div id="show-profile">
		<div id="profile-head">
			<p><b>About <%= @user.full_name %></b></p>
		</div>

		<div id="about">
			<p><%= @profile.profile_description %></p>
		</div>

		<% if authorized(@user) %>


			<div id="details">
				<p><span><b>Birthday:		</b></span><%= profile_date(@profile.birthday)    %></p>
				<p><span><b>Country:		</b></span><%= profile_info(@profile.country)     %></p>
				<p><span><b>Gender:			</b></span><%= profile_info(@profile.gender)      %></p>
				<p><span><b>Profession:	</b></span><%= profile_info(@profile.profession)  %></p>
				<p><span><b>Education:	</b></span><%= profile_info(@profile.education)   %></p>
			</div>

		<% else %>

			<div id="details">
				<p><%= @user.full_name %> keeps details only for friends.</p>
			</div>

		<% end %>
	</div>
</div>