<div class="comment clearfix" id="comment-<%= comment.id %>">
	<div class="c-main">
		<div class="c-core">
			<div class="c-content">
					<%= render "users/basic_user_display", user: comment.author, pic_size: "sm" %>
				<p>
					<%= comment.content %>
				</p>
			</div>
			<% if user_signed_in? %>
				<div class="c-functions">
					<div class="functions">
						<%= link_to likes_path(likeable_id: comment.id, likeable_type: "Comment"), method: :post, id: "like-comment", remote: true do %>
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
						<% end %><%= comment.likes.length %>
						<%= link_to new_comment_path(post: comment.post.id), method: :get, id: "make-comment", remote: true  do %>
							<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
						<% end %>
						<p><%= time_ago_in_words(comment.created_at) + " ago" %></p>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</div>