<div class="comment clearfix" id="comment-<%= comment.id %>">
	<div class="c-main">

		<div class="c-author-image">
			<%= "IMG" %>
		</div>

		<div class="c-core">
			<div class="c-content">
				<p><b><%= comment.author.first_name + " " + comment.author.last_name %></b>
					<%= comment.content %>
				</p>
			</div>
	
			<div class="c-functions">
				<%=  render partial: "functions", locals: { likeable_id: comment.id, likeable_type: comment.class.name, post: comment.post.id, likes: comment.likes.count } %>
			</div>
		</div>

	</div>
</div>