.comment.clearfix{:id => "comment-#{comment.id}"}
  .c-main
    .c-core
      .c-content
        = render partial: "users/basic_user_display", locals: { user: comment.author, pic_size: "sm" }
        %p
          = comment.content
      - if user_signed_in?
        .c-functions
          .functions
            = render 'likes/like', id: comment.id, type: "Comment", likes: comment.likes.length
            = link_to new_comment_path(post: comment.post.id), method: :get, id: "make-comment", remote: true  do
              %span.glyphicon.glyphicon-comment{"aria-hidden" => "true"}
            %p= time_ago_in_words(comment.created_at) + " ago"
