<%= form_for @comment do |f|%>
	<div class="form-group">
		<%= f.text_field :content, autofocus: true, placeholder: "...", class: "form-control", required: true  %>
	</div>
	<%= f.hidden_field :commentable_id, { value: @id } %>
	<%= f.hidden_field :commentable_type, { value: @type } %>
	<%= f.submit "Send", class: "btn btn-default", style:"float:right" %>
<% end %>