%span.like
  - if liked
    = link_to unlike_path(liked: { likeable_id: id, likeable_type: type } ), method: :delete, id: "like-#{type.downcase}", remote: true do
      %span.glyphicon.glyphicon-thumbs-down{"aria-hidden" => "true"}
    = likes
  - else
    = link_to likes_path(liked: { likeable_id: id, likeable_type: type } ), method: :post, id: "like-#{type.downcase}", remote: true do
      %span.glyphicon.glyphicon-thumbs-up{"aria-hidden" => "true"}
    = likes
