<div class="user-people clearfix">
	<div class="user-pic-sm">
			<%= image_tag user.avatar.url %>
	</div>

	<div class="user-name"> 
		<%= link_to "#{user.first_name} #{user.last_name}", user %>
	</div>
	<% if f_num != 3 %>
		<div class="message"> 
			<%= "MESSAGE" %>
		</div>
	<% end %>
	<div class="functions">
		<% if f_num == 1 %>
			<%= link_to make_friend_path(friend_id: user.id), method: :post do %>
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<% end %>
			<%= link_to decline_invite_path(inv_user_id: user.id), method: :post do %>
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			<% end %>
		<% elsif f_num == 2 %>
			<%= link_to remove_invite_path(inv_user_id: user.id), method: :delete do %>
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			<% end %>
		<% else %>
			<%= link_to remove_friend_path(friend_id: user.id), method: :delete do %>
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			<% end %>
		<% end %>
	</div>
</div>