<%= render "static_pages/header" %>
<%= render "static_pages/profile" %>
<div id="profile">
	<div class="profile-wrapper">
		<div class="user-pic-lg">
				<%= "IMG" %>
		</div>
	
		<div class="user-name"> 
			<%= link_to "#{@user.first_name} #{@user.last_name}", @user %>
		</div>
	
		<div>
			<%= link_to "Send friend request", send_invite_path(inv_user_id: @user), method: "post" %>
		</div>
		<div>
			<p>Common friends</p>
		</div>
	</div>
</div>