- if @posts
  $('.posts').append('#{j render @posts}');
  - if @posts.next_page
    $('#inf-scroll .pagination').replaceWith('#{j will_paginate @posts}');
  - else
    $(window).off('scroll');
    $('#inf-scroll .pagination').remove();
- elsif @comments
  elem = '.paginate-comments##{@post.id}'
  $(elem).before('#{j render @comments}');
  - if @comments.next_page
    $(elem + ' .pagination').replaceWith('#{j will_paginate @comments}');
  - else
    $(elem + ' .pagination').remove();
    $(elem).remove();