.post.clearfix{:id => "post-#{post.id}"}
  .p-main.clearfix
    .p-author.clearfix
      = render "users/basic_user_display", receiver: post.receiver, user: post.author, pic_size: "md"
    .p-content
      = post.content
    .p-functions
      = render 'static_pages/functions', object: post
  .p-comments
    - comments = post.more_comments(params[:comment_page])
    = render comments
    .paginate-comments{id: post.id}
      = will_paginate comments, param_name: "comment_page", page_links: false
      - if comments.next_page
        %button#show-more
          show more more
