<div class="post clearfix" id="post-<%= post.id %>">
	<div class="p-main clearfix">
		<div class="clearfix">
			<div class="p-author">
				<%= render "users/basic_user_display", user: post.author, pic_size: "md" %>
				<p><%= link_to "#{time_ago_in_words(post.created_at)} ago", user_post_path(post.author.id, post.id)  %></p>
			</div>
		</div>

		<div class="p-content">
			<%= post.content %>
		</div>

		<% if user_signed_in? %>
			<div class="p-functions">
				<div class="functions">
					<%= link_to likes_path(likeable_id: post.id, likeable_type: "Post"), method: :post, id: "like-post", remote: true do %>
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					<% end %><%= post.likes.length %>
					<%= link_to new_comment_path(post: post.id), method: :get, id: "make-comment", remote: true  do %>
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="p-comments">
		<%= render post.comments %>
	</div> 
</div>