<div class="post clearfix">
	<div class="author-pic">
			<%= "IMAGE" %>
	</div>

	<div class="main">
		<div class="author">
			<%= post.author.first_name %>
			<%= post.author.last_name %>
		</div>

		<div class="content">
			<%= post.content %>
		</div>

		<div class="functions">
			<%= "FUNCTIONS" %>
		</div>
	</div>
</div>