<div class="post clearfix" id="post-<%= post.id %>">
	<div class="p-main clearfix">
		<div class="clearfix">
			<div class="p-author-image">
				<%= "IMAGE" %>
			</div>
	
			<div class="p-author">
				<p><%= post.author.first_name + " " + post.author.last_name %></p>
				<p>some things to do</p>
			</div>
		</div>

		<div class="p-content">
			<%= post.content %>
		</div>

		<div class="p-functions">
			<%= render partial: "functions", locals: { likeable_id: post.id,likeable_type: "Post", post: post.id, likes: post.likes.count } %>
		</div>
	</div>

	<div class="p-comments">
		<%= render post.comments %>
	</div> 
</div>