<div class="post clearfix" id="post-<%= post.id %>">
	<div class="p-main clearfix">
		<div class="clearfix">
			<div class="p-author-image">
				<%= "IMAGE" %>
			</div>
	
			<div class="p-author">
				<p><%= post.author.first_name + " " + post.author.last_name %></p>
				<p>some things to do</p>
			</div>
		</div>

		<div class="p-content">
			<%= post.content %>
		</div>

		<div class="p-functions">
			<div class="functions">
				<%= link_to likes_path(likeable_id: post.id, likeable_type: "Post"), method: :post, id: "like-post", remote: true do %>
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				<% end %><%= post.likes.length %>
				<%= link_to new_comment_path(post: post.id), method: :get, id: "make-comment", remote: true  do %>
					<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
				<% end %>
			</div>
		</div>
	</div>

	<div class="p-comments">
		<%= render post.comments %>
	</div> 
</div>