#main-wrapper
  #post
    .post.clearfix{:id => "post-#{post.id}"}
      .p-main.clearfix
        .clearfix
          .p-author
            = render "users/basic_user_display", user: post.author, pic_size: "md"
            %p= time_ago_in_words(post.created_at) + " ago"
        .p-content
          = post.content
        - if user_signed_in?
          .p-functions
            = render 'static_pages/functions', object: post
      .p-comments
        = render post.comments
