<!DOCTYPE html>
<html>
<head>
  <title>Odinbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'static_pages' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	
<% @user = choose_user %>

<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>

<%= render "static_pages/header" %>

<% if user_signed_in? %>
	<%= render "static_pages/profile", locals: { user: current_user } %>
<% else %>
	<%= render "static_pages/profile", locals: { user: @user } %>
<% end %>

<%= render "static_pages/current_user_profile" %>

	<%= yield %>

<script>
	$(".alert").delay(1000).fadeOut("slow");
</script>

</body>
</html>
